body{

font-family: Arial, Helvetica, sans-serif;

margin:0;

line-height:1.6;

background:#111;

color:#f5f5f5;

}

header{

text-align:center;

background:#000;

padding:30px 20px;

}

header h1{

font-family:'Bebas Neue', sans-serif;

font-size:55px;

letter-spacing:4px;

color:#ffd700;

margin:0;

text-align:center;

}

header p{

font-family:'Bebas Neue', sans-serif;

font-size:22px;

letter-spacing:2px;

color:#cccccc;

margin:0;

text-align:center;

}

nav{

background:#222;

text-align:center;

padding:15px;

}

nav a{

color:white;

margin:10px;

text-decoration:none;

font-weight:bold;

}

nav a:hover,
nav a:focus{

color:#00b7ff;

}

main{

display:flex;

flex-wrap:wrap;

}

section{

flex:3;

padding:20px;

}

aside{

flex:1;

background:#1b1b1b;

padding:20px;

}

img,
video{

max-width:100%;

height:auto;

border-radius:8px;

margin-top:10px;

}

audio{

margin-top:10px;

width:100%;

}

form{

margin-top:20px;

background:#1b1b1b;

padding:15px;

border-radius:8px;

}

label{

display:block;

margin-top:10px;

}

input,
select,
textarea,
button{

width:100%;

padding:8px;

margin-top:5px;

border-radius:5px;

border:none;

}

button{

background:#ffd900;

color:white;

font-weight:bold;

cursor:pointer;

}

button:hover{

background:#0a0900;;

}

footer{

text-align:center;

background:#000;

padding:15px;

}

@media (max-width:768px){

main{

flex-direction:column;

}

}